@model OrdemServico

<h2>Cadastro - Ordem de Serviços</h2>
<form asp-controller="OrdemServico" asp-action="Create" method="post">
    <hr>

    <div class="form-group">

        <div class="form-group">
            <label>Cliente</label>
            

            <select asp-for="Cliente_Codigo" class="form-control">
                @foreach (var item in ViewBag.Clientes)
                {
                    
                    <option value="@item.Codigo">@item.Nome</option>
                }
            </select>
            
        </div>
        <label>Técnico</label>
        <select asp-for="Tecnico_Codigo" class="form-control">
            @foreach (var item in ViewBag.Tecnicos)
            {

                <option value="@item.Codigo">@item.Nome</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Funcionario</label>
        <select asp-for="Funcionario_Codigo" class="form-control">
            @foreach (var item in ViewBag.Funcionarios)
            {

                <option value="@item.Codigo">@item.Nome</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Equipamento</label>
        <input asp-for="Equipamento" class="form-control" placeholder="Equipamento" />
        <span asp-validation-for="Equipamento"></span>
    </div>

    <div class="form-group">
        <label asp-for="Data_Abertura"></label>
        <input asp-for="Data_Abertura" class="form-control" placeholder="Data Abertura" />
        <span asp-validation-for="Data_Abertura"></span>
    </div>
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input asp-for="Status" checked type="radio" name="status" id="inlineCheckbox1" value="1">
            <span asp-validation-for="Status" style="margin-left: 5px">Ativo</span>
        </div>
    </div>

    <button class="btn btn-primary ">Salvar</button>
</form>